@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  --background-color: #00171f;
  --font-color: #318b94;
  --input-color: #012532;
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
html {
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  color: var(--font-color);
  min-height: 100vh;
  padding: 0px 10px;
}
.loading {
  font-size: 50px;
  margin: 30px;
  animation: 1s rotate linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
